<script setup></script>

<template>
  <q-page class="bg-secondary flex flex-center">
    <q-card
      dark
      bordered
      class="bg-accent my-card text-black"
      style="max-width: 450px"
    >
      <q-card-section>
        <div class="text-h6" align="center">
          Missing Person Monitoring System
        </div>
        <div class="text-subtitle2">Developer: Jerald Constantino</div>
        <div class="text-subtitle2">Version: 0.1.beta</div>
      </q-card-section>

      <q-separator dark inset />

      <q-card-section>
        This application was developed in response to the increasing number of
        missing individuals during or after natural disasters, such as volcanic
        eruptions, super typhoons, and earthquakes, in the Philippines. With the
        use of this software, authorities can efficiently keep track of the
        number of reported missing persons and conduct investigations at the
        disaster site.
      </q-card-section>
    </q-card>
  </q-page>
</template>
