<template>
  <q-page class="bg-secondary flex flex-center">
    <q-card class="horizontal">
      <q-card-section horizontal align="center">
        <q-card-section>
          Personal Information
          <q-form
            ref="validateForm"
            @submit.prevent="state ? onSubmit() : updateTable()"
            class="q-ma-md"
          >
            <q-input
              rounded
              outlined
              v-model="form.fullName"
              label="Full Name"
              hint="Ex. Jose P. Rizal"
              hide-hint
              lazy-rule="ondemand"
              dense
              :rules="[requiredInput()]"
            >
            </q-input>
            <q-input
              rounded
              outlined
              v-model="form.age"
              label="Age"
              type="number"
              bottom-slots
              dense
              :rules="[
                requiredInput(),
                requiredAgeInput(),
                requiredMaxAgeChar(),
              ]"
            >
            </q-input>
            <q-select
              rounded
              outlined
              label="Sex"
              v-model="form.sex"
              :options="['Male', 'Female']"
              bottom-slots
              dense
              :rules="[requiredInput()]"
            >
            </q-select>
            <q-input
              rounded
              outlined
              v-model="form.disasterSite"
              label="Disaster Site"
              hint="Ex. Mayon Bulcano, Legazpi, Albay"
              hide-hint
              dense
              :rules="[requiredInput()]"
            >
            </q-input>
            <q-input
              rounded
              outlined
              v-model="form.date"
              type="date"
              bottom-slots
              dense
              :rules="[requiredInput()]"
            >
            </q-input>
            <div class="vertical-center">
              <q-btn
                :label="state ? 'SUBMIT' : 'UPDATE'"
                color="primary"
                rounded
                style="width: 80px; margin-right: 10px"
                push
                type="submit"
              />
              <q-btn
                label="DELETE"
                color="negative"
                rounded
                style="width: 80px"
                push
                :disable="state"
                @click="showDialog = true"
              />
            </div>
          </q-form>
        </q-card-section>
        <q-card-section bordered class="bg-accent">
          <q-table
            title="Missing Person"
            :rows="rows"
            :columns="columns"
            row-key="name"
            :pagination="{
              rowsPerPage: 5,
            }"
            :rows-per-page-options="[5]"
            @row-click="onRowClick"
          />
        </q-card-section>
      </q-card-section>
    </q-card>
  </q-page>

  <q-dialog v-model="showDialog" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <div class="q-ml-sm">Are you sure you want to delete?</div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" v-close-popup />
        <q-btn
          @click="deleteRow()"
          flat
          label="Yes"
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue";
import { tableData } from "../composables/Tasks";

export default {
  setup() {
    let showDialog = ref(false);
    let state = ref(true);
    let rows = ref([]);
    let columns = ref([
      {
        name: "id",
        label: "Victim Code",
        align: "center",
        field: "id",
      },
      {
        name: "fullName",
        label: "Full Name",
        align: "left",
        field: "fullName",
      },
      {
        name: "age",
        label: "Age",
        align: "center",
        field: "age",
      },
      {
        name: "sex",
        label: "Sex",
        align: "center",
        field: "sex",
      },
      {
        name: "disasterSite",
        label: "Disaster Site",
        align: "center",
        field: "disasterSite",
      },
      {
        name: "date",
        label: "Date",
        align: "center",
        field: "date",
      },
    ]);

    let form = ref({
      fullName: null,
      age: null,
      sex: null,
      disasterSite: null,
      date: null,
    });

    let validateForm = ref(null);
    const requiredInput = () => (val) => !!val || "Field is required";

    const requiredAgeInput = () => (val) =>
      val > 0 || "Age must greater than to zero";

    const requiredMaxAgeChar = () => (val) =>
      val.length < 4 || "Character must less than four digits";

    const getTableData = () => {
      rows.value = tableData.value;
    };

    getTableData();

    const toCapitalize = (words) => {
      const word = words.toLowerCase().split(" ");

      for (var i = 0; i < word.length; i++) {
        word[i] = word[i].charAt(0).toUpperCase() + word[i].slice(1);
      }

      const combinedWord = word.join(" ");
      return combinedWord;
    };

    const formatDate = (dateStr, mode) => {
      const date = new Date(dateStr);
      const year = date.getFullYear();
      const month = ("0" + (date.getMonth() + 1)).slice(-2);
      const day = ("0" + date.getDate()).slice(-2);

      let normalModeDate = `${month}/${day}/${year}`;
      let reverseModeDate = `${year}-${month}-${day}`;
      let formattedDate = mode == 1 ? normalModeDate : reverseModeDate;
      return formattedDate;
    };

    const onSubmit = () => {
      let id = tableData.value.length;

      tableData.value.unshift({
        id: `c-${++id}-${new Date().getFullYear()}`,
        fullName: toCapitalize(form.value.fullName),
        age: form.value.age,
        sex: form.value.sex,
        disasterSite: toCapitalize(form.value.disasterSite),
        date: formatDate(form.value.date, 1),
      });

      form.value.fullName = null;
      form.value.age = null;
      form.value.sex = null;
      form.value.disasterSite = null;
      form.value.date = null;
      validateForm.value.reset();
    };

    let selectedRow = ref({});
    const onRowClick = (evt, row) => {
      selectedRow.value = row;
      form.value.fullName = row.fullName;
      form.value.age = row.age;
      form.value.sex = row.sex;
      form.value.disasterSite = row.disasterSite;
      form.value.date = formatDate(row.date, 0);
      state.value = false;
    };

    const updateTable = () => {
      let index = tableData.value.findIndex(
        (row) => row.id === selectedRow.value.id
      );
      tableData.value[index].fullName = toCapitalize(form.value.fullName);
      tableData.value[index].age = form.value.age;
      tableData.value[index].sex = form.value.sex;
      tableData.value[index].disasterSite = toCapitalize(
        form.value.disasterSite
      );
      tableData.value[index].date = formatDate(form.value.date, 1);

      form.value.fullName = null;
      form.value.age = null;
      form.value.sex = null;
      form.value.disasterSite = null;
      form.value.date = null;
      selectedRow.value = {};
      validateForm.value.reset();
      state.value = true;
    };

    const deleteRow = () => {
      let index = tableData.value.findIndex(
        (row) => row.id === selectedRow.value.id
      );
      index !== -1 && tableData.value.splice(index, 1);

      form.value.fullName = null;
      form.value.age = null;
      form.value.sex = null;
      form.value.disasterSite = null;
      form.value.date = null;
      validateForm.value.reset();
      state.value = true;
    };

    return {
      rows,
      state,
      columns,
      form,
      tableData,
      updateTable,
      toCapitalize,
      formatDate,
      selectedRow,
      onRowClick,
      validateForm,
      getTableData,
      onSubmit,
      requiredInput,
      requiredAgeInput,
      requiredMaxAgeChar,
      deleteRow,
      showDialog,
    };
  },
};
</script>
